html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0 auto;
    background-color: #f5f5f5;
}

header, footer, section, aside {
    display: block;
}

header, #content, footer {
    padding-left: 15%;
    padding-right: 15%;
    width: 70%;
}

#gameArea {
    float: left;
    width: 100%;
}

.tangram {
    width: 20%;
    margin-left: 6.66%;
    margin-right: 6.66%;
    margin-top: 2%;
    float:left;
    background-color: #ffffff;
}

.tangram:hover {
    background-color: #7ab2ff;
}

footer {
    bottom: 0;
    left: 0;
}

#state {
    text-align: center;
    float: right;
}


